#payee, #payer {
    max-width: 630px;
    .flex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      > * {
        margin: 0px 20px;
      }
    }
	h1 {
		margin-bottom: 30px;
	}
	img {
		border-radius: 23px;
	}
    input {
      background: white;
    }
    .input-container {
      background: #F5F1F2;
      border-radius: 10px;
      padding: 34px 0;
    }
}